@import "tailwindcss";

:root {
  --background-dark: #111827;
  --background-light: #1f2937;
  --border-color: #374151;
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;
  --primary: #818cf8;
  --secondary: #f472b6;
  --accent: #fbbf24;
}

body {
  background-color: var(--background-dark);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
}
